{% extends 'base.html.twig' %}

{% block title %}Edit Carousel{% endblock %}

{% block body %}
    <h1>Edit Carousel</h1>

    {{ include('admin/carousel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carousel_index') }}">back to list</a>

    {{ include('admin/carousel/_delete_form.html.twig') }}
{% endblock %}
