/*color*/
/* 
background-color: #431737; 
background-color: #431737;
background-color: #431737;

*/

body {
    /*background-color: #c40a92;
    background-color: linear-gradient(#7a729e, #6a63c6 60%, #b49fee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#63598d), color-stop(60%, #666480), to(#c4bdd4));*/
    color: rgb(249, 237, 253);
    background-color: #D4EE9F;
    background-color: #f8ffdc;
    
    color: lightblue;
    overflow-x: hidden;
}

.purple {
    color: purple;
}

h2 {
    color: #431737;
    color: #661141;
}

h3,
h4 {
    color: #431737;
    color: #661141;
}

h1.puce {
    color: #431737;
    color: #661141;
    font-size: 2.3rem;
}

h1.specialfont {
    color: #431737;
    color: #661141;
    font-size: 4.3rem;
    /*font-family:"Sacramento";*/
    font-family: 'Parisienne',
        cursive;
}


.puce {
    list-style: none !important;
    color: #661141 !important;
    font-size: 1.2rem;
}

/* Slideshow container */
.carousel.slide {
    max-width: 99%;
    max-height: 19%;
    position: relative;
    /* margin: auto;*/
}

.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        3px 0 8px #83366e;
}

.btn.btn-perso {
    background-color: transparent !important;
    border-color: #c40a92;
    color: #c40a92;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}

.text-perso {
    color: #c40a92 !important;
}

.btn.btn-perso:hover {
    background-color: #c40a92 !important;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}

a.btn.btn-perso {
    background-color: white !important;
    border-color: #c40a92;
    color: #c40a92;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}

a.btn.btn-perso:hover {
    background-color: #c40a92 !important;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}





a.btn.btn-perso:focus {
    border-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
    outline: 0 none;
}

a.btn.btn-perso:after {
    outline-color: transparent !important;
    box-shadow: #c40a92;
}

/*scrolling hover*/
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 9999;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#myBtn {
    width: 50px;
    line-height: 20px;
    overflow: hidden;
    z-index: 9999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: rgb(79, 231, 104);
    background-color: rgb(29, 255, 67);

    color: #555;
    color: rgb(255, 29, 217);
    ;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#myBtn:hover {
    background-color: rgb(255, 29, 217);
    color:
        rgb(29, 255, 67);
    ;
}

/*carousel*/
.carousel-control-prev-icon {
    background-color: rgb(255, 29, 217);
    width: 13%;
    height: 15%;
}

.carousel-control-next-icon {
    background-color: rgb(255, 29, 217);
    width: 13%;
    height: 15%;
}

/*modif couleur formulaire contact*/
input::-webkit-input-placeholder {
    color: red !important;
    background-color: #c40a92;
    background-color: rgb(235, 254, 225)
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #c40a92 !important;
    background-color: #c40a92;
    background-color: rgb(235, 254, 225)
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

input:-ms-input-placeholder {
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

textarea::-webkit-input-placeholder {
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

textarea:-ms-input-placeholder {
    color: #c40a92 !important;
    background-color: rgb(235, 254, 225)
}

.fa-star.normal {

    color: rgb(255, 196, 0);
}

.fa-star.checked {

    color: rgb(255, 196, 0);
    color: rgb(255, 0, 221);

}

.perso {
    color: rgb(255, 0, 221) !important;
}

.avis {
    border: 1px solid rgba(201, 24, 177, 0.801) !important;


    border-bottom: 1px solid rgba(201, 24, 177, 0.801) !important;
}

table thead tr .top-br th {
    background-color: rgba(155, 57, 168, 0.651) !important;
    border-top: 1px solid rgb(255, 0, 221) !important;
    border-bottom: 1px solid rgb(255, 0, 221) !important;
}

.my-border-icon {
    text-shadow: -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
}

footer .navbar {
    margin-bottom: 0px;
    height: 151px !important;
}

/********petit********/

@media(max-width:575px) {

    .hauteur{
        margin-top:32% !important;
    }
      .slider {
        width: 97% !important;
        height: 88% !important;
      }
    .vignette{
        width:100%;
    }
    h1.specialfont {
        color: #431737;
        color: #661141;
        font-size: 7.6vw !important;
        /*font-family:"Sacramento";*/
        font-family: 'Parisienne',
            cursive;
    }
    h4{
        color: #431737;
        color: #661141;
        font-size: 4.6vw !important;

    }
    footer {}

    .footrow {
        margin-left: 10%;
        margin-bottom: 3px !important;
    }

    ul.footer {
        margin: none !important;
    }

    footer .navbar.footer {
        visibility: visible !important;
    }



    h1 {
        font-size: 6vw !important;
    }

    h3.puce {
        font-size: 3.3vw !important;
    }

    .entete {
        font-size: 1.0rem !important;
    }

    .navbar-nav {
        margin-left: 8% !important;
        font-size: 1.3rem !important;
    }

    a.btn.btn-perso.spec {
        margin-left: 22% !important;
        visibility: hidden !important;
    }

    /*carousel*/
    .carousel-control-prev-icon {
        visibility: hidden !important;
    }

    .carousel-control-next-icon {
        visibility: hidden !important;
    }

    .carousel-indicators {
        visibility: hidden !important;
    }

    .melanie {
        max-width: 50% !important;
        margin-left: 23%;
    }

    .imgbig {
        width: 33%;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
        color: grey !important;
        background-color: white !important;
        float: left !important;
    }

    .dropdown-menu {
        color: white !important;
        background-color: white !important;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
        color: white !important;
        background-color: white !important;
        float: left !important;
    }

    .dropdown-menu {
        color: white !important;
        background-color: white !important;
    }

    img.imgmodal .img-fluid .card-img-top {
        margin-left: none;
        max-width: 230px !important;
    }

    body {


        overflow-x: hidden;
        margin-right: 15px;
    }

    .imgformate {
        max-height: 230px !important;
        max-width: 230px !important;

    }

}

/********intermediaire*******/
@media(min-width:567px) and (max-width:620px) {
    .hauteur {
        margin-top: 12% !important;
    }
     .slider {
         width: 80% !important;
         height: 80% !important;
     }
     .vignette {
         width: 100%;
     }
    div .modal-body {
        margin-left: 14% !important;
    }

    img.imgmodal {
        margin-left: 14% !important;
    }

    body {


        overflow-x: hidden;
        margin-right: 15px;
    }

    .footrow {
        margin-left: 10%;
    }

    ul.footer {
        margin: none !important;
    }

    footer .navbar.footer {
        visibility: visible !important;
    }

}

/********moyen********/

@media(min-width:567px) and (max-width:990px) {
    .hauteur {
        margin-top: 6% !important;
    }
     .slider {
         width: 98% !important;
         height: 80% !important;
     }
     .vignette {
         width: 55%;
     }
    body {


        overflow-x: hidden;
        margin-right: 15px;
    }

    div .modal-body {
        margin-left: 10% !important;
    }

    img.imgmodal {
        margin-left: 14% !important;
    }

    .navbar-nav {
        margin-left: 34% !important;
    }

    .entete {
        font-size: 0.8rem !important;
    }

    .carousel-title {
        margin-top: 200px !important;
    }

    .melanie {
        max-width: 50% !important;
        margin-left: 23%;
    }

    .imgbig {
        width: 33%;
    }

    .imgbig:hover {
        border: 3px double black;
        width: 56%;

    }

    .footrow {
        margin-left: 10%;
    }

    ul.footer {
        margin: none !important;
    }

    footer .navbar.footer {
        visibility: visible !important;
    }

}

/*******grand*********/
@media(min-width:991px) {
    .slider {
        width: 100% !important;
        height: 100% !important;
    }
     .vignette {
         width: 75%;
     }
    body {


        overflow-x: hidden;
        margin-right: 15px;
    }

    .footrow {
        margin-left: 32%;
        margin-top: 4%;
    }

    div .modal-body {
        margin-left: 10% !important;
    }

    img.imgmodal {
        margin-left: 14% !important;
    }

    .imgbig {
        width: 33%;
        border: 1px solid black;

    }

    .imgbig:hover {
        border: 3px double black;
        width: 66%;

    }

    .entete {
        font-size: 0.9rem !important;
    }

    .melanie {
        max-width: 50% !important;
        margin-left: 23%;
    }
}

/*******tres grand*********/
@media(min-width:992px) and (max-width:1085px) {
    .entete {
        font-size: 0.8rem !important;
    }

}