/*color*/
/* 
background-color: #431737; 
background-color: #431737;
background-color: #431737;

*/

body {
    background-color: #c40a92;
    background-color: #431737;
    background-color: #b8c687;
    background-color: #D4EE9F;
    color: lightblue;
}

.purple {
    color: purple;
}

h2 {
    color: #431737;
    color: #661141;
}

h1.puce {
    color: #431737;
    color: #661141;
    font-size: 2.3rem;
}

.puce {
    list-style: none !important;
    color: #661141 !important;
    font-size: 1.2rem;
}

/* Slideshow container */
.carousel.slide {
    max-width: 99%;
    max-height: 19%;
    position: relative;
    /* margin: auto;*/
}

.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        3px 0 8px #83366e;
}

a.btn.btn-perso {
    background-color: white !important;
    border-color: #c40a92;
    color: #c40a92;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}

a.btn.btn-perso:hover {
    background-color: #c40a92 !important;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
}





a.btn.btn-perso:focus {
    border-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset,
        0 0 8px #c40a92;
    outline: 0 none;
}

a.btn.btn-perso:after {
    outline-color: transparent !important;
    box-shadow: #c40a92;
}