{% extends 'base.html.twig' %}

{% block title %}Editer le Blog{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer le Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-info"href="{{ path('blog') }}"><i class="far fa-arrow-alt-circle-left"></i> retour</a>

    {{ include('blog/_delete_form.html.twig') }}
</div>
{% endblock %}
