{% extends 'base.html.twig' %}

{% block title %}Créer un avis{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un Avis</h1>

    {{ include('/admin/avis/_form.html.twig') }}

    <a class="btn btn-sm btn-outline-info" style="margin-left:30%;" href="{{ path('avis_index') }}"> <i class="far fa-arrow-alt-circle-left"></i>
      retour à la liste</a>
      <br>
      <br>
      <br>
      <br><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
{% endblock %}
